p {
    font-family: "CarlitoRegular";
}
.carlitoBold {
    font-family: "CarlitoBold";
}
#canvas {
    height: 600px;
    float: left;
}
#settingsAndInfo {
    width: 320px;
    float: left;
    margin-left: 20px;
}
@font-face {
    font-family: "CarlitoBold";
    src: url('CarlitoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CarlitoRegular';
    src: url('CarlitoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
